@model Product

<h1>Product Details</h1>

<table>
    <tr>
        <td>Name</td>
        <td>
            @Model.Name
        </td>
    </tr>
    <tr>
        <td>Price</td>
        <td>
            @Model.Price.ToString("C")
        </td>
    </tr>
</table>
